<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
</html>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Change User</h1>
  <form action="/edit/<%= post.id %>?_method=PUT" method="post" id="post-form">
    <label for="userId">UserID</label>
    <input
      type="text"
      name="userId"
      id="userId"
      value="<%= post.userId %>"
    /><br /><br />
    <label for="id">Text id</label>
    <input type="text" name="id" id="id" value="<%= post.id %>" /><br /><br />
    <label for="title" value="<%= post.title %>">Email</label>
    <input
      type="text"
      name="title"
      id="title"
      value="<%= post.title %>"
    /><br /><br />
    <label for="body" value="<%= post.body %>">Body</label>
    <textarea name="body" id="body" cols="10" rows="50"></textarea><br /><br />
    <button type="submit">Submit</button>
  </form>
</body>
